$text: #D2E603;
$box-color: rgba(0,0,0,.8); 

$typo: 'Neucha';

$medium: 800px;


@mixin medium {
    @media(min-width: #{$medium}) {
        @content
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    min-height: 100vh;
    background-image: url(../dist/images/background.png)
}

header {
    nav {
        height: 60px;
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        background-color: $box-color;

        h1 {
            position: absolute;
            left: 1rem;
            top: .7rem;
            color: $text;
            font-family: $typo;
            letter-spacing: .6rem;
            font-size: 2rem;
        }
        
        .toggleBtn {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 1rem;
            top: .8rem;
            height: 25px;
            width: 25px;

            span {
                height: 3px;
                margin-top: 5px;
                width: 25px;
                background-color: $text;
            }
        }
        .nav-links {
            display: none;
        }
        .nav-links.active {
            display: block;
            position: absolute;
            top: 3.75rem;
            width: 100%;
            text-align: end;
            background-color: $box-color;
            li {
                list-style-type: none;
                margin: 20px 20px;
                color: $text;
                font-family: $typo;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
    @include medium {
        nav {
            flex-direction: row;
            justify-content: space-between;

            .toggleBtn {
                display: none;
            }
            .nav-links {
                display: flex;
                position: absolute;
                right: 1rem;
                
                li {
                    list-style-type: none;
                    margin: 0 10px;
                    font-family: $typo;
                    font-size: 1.3rem;
                    color: $text;
                    cursor: pointer;
                }
            }
        }
    }
}

main {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    .message-container {
        height: 350px;
        width: 320px;
        background-color: rgba(0,0,0,.3);

        h1 {
            text-align: center;
            color: $text;
            font-size: 3rem;
            font-family: $typo;
            font-weight: bold;
            padding: 1rem;
        }

        button {
            height: 50px;
            width: 120px;
            margin: 40px 30%;
            background-color: $text;
            border: none;
            border-radius: 50px;
            font-family: $typo;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: .2rem;
            cursor: pointer;
        }
    }
    .menu-container {
        height: 1700px;
        width: 320px;
        margin-bottom: 40px;
        background-color: $box-color;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        
        .restaurant-element {
            height: 250px;
            width: 250px;
            margin: auto;
            display: flex;
            background-color: rgba(0,0,0,.3);
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            cursor: pointer;

            .image {
                height: 150px;
                width: 150px;
                margin-top: 20px;
            }
            span {
                font-family: 'DM Sans';
                padding-top: .3rem;
                font-size: 1rem;
                color: $text;
            }
        }
        .restaurant-element:hover {
            background-color: rgba(0,0,0,.7);
        }
    }
    .contact-container {
        height: 400px;
        width: 320px;
        background-color: rgba(0,0,0,.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        
        span {
            font-size: 1.5rem;
            font-family: 'DM Sans';
            color: $text;
            padding: .6rem;
        }

        img {
            height: 250px;
            width: 300px;
        }

    }
    @include medium {
        justify-content: flex-start;
        margin-top: 0px;
        
        .message-container {
            margin-top: 40px;
            height: 420px;
            width: 400px;
            margin-left: 100px;

            h1 {
                font-size: 4rem;
            }
            button {
                height: 60px;
                width: 150px;
                margin: 40px 30%;
                font-size: 1.3rem;
            }
        }
        .menu-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            height: 570px;
            width: 900px;
            margin: 40px auto 40px auto;
            
            .restaurant-element {
                margin: 0 20px 20px 20px;
            }
        }
        .contact-container {
            margin: 40px auto 0 auto;
            height: 550px;
            width: 550px;
    
            img {
                margin-top: 20px;
                height: 400px;
                width: 500px;
            }
    
        }
    }
}